<!DOCTYPE html>
<html lang="en">
  <head>
     <title>Register Form</title>
    {{>heder}}

  </head>
<body style="overflow-x: hidden;">
 {{>navbar}} 

   <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-dark text-center">Hey Guys😄Welcome JK WORLD❤</h1>
      </div>

    </div>

    <div class="col-md-10 col-12 mx-auto bg-dark">
      <div class="row mx-auto">
        <div class="col-md-6 col-12 bg-danger">

          <div class="card" style="width:400px">
            <img
              class="card-img-top"
              src=""
              alt="Card image"
              style="width:100%"
            />
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text some example text. John Doe
                is an architect and engineer</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>

        </div>
        <div class="col-md-6 col-12 bg-info"><img src="/public/images/img.jpg" alt=""></div>
      </div>
    </div>
  </div>
</body>

 
</html>